<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>792179995434-5aqi6ls6269t8vgdeo6jl73l52h4eg1u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.792179995434-5aqi6ls6269t8vgdeo6jl73l52h4eg1u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>792179995434-p4rv16nt9ud7kk1ht58b9mgdvgck7hek.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB8sDBIHlbckXyZlA7BbeoaXzEoKk-NQF4</string>
	<key>GCM_SENDER_ID</key>
	<string>792179995434</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appmaniazar.tapp</string>
	<key>PROJECT_ID</key>
	<string>tapps-4b1cb</string>
	<key>STORAGE_BUCKET</key>
	<string>tapps-4b1cb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:792179995434:ios:552b5aa3f982ceb7c0e453</string>
</dict>
</plist>